/bin/
/distfs
/distfs-fuse
/storage-node
/test-auth
*.key
/*.log
/*.pprof
/test_output.txt
/client_tests.log
/data/
/node*/
/DISTFS-REPORT.md
/bin/
tests/bin/
logs/
/web/js/
/web/wasm_exec.js
/web/distfs.wasm
